/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Rubik:wght@300;400;500;600;900&display=swap');

/* Start Global Rules */

:root {
  --main-color: #f7b035;
  --second-color: #ce862b;
  --main-transition: 0.3s;
  --back-color: #232323;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.loader {
  max-width: 6%;
  animation: loader 1.5s infinite linear;
  animation-play-state: running;
  opacity: 0;
  position: absolute;
}

.loader:hover {
  animation-play-state: paused;
}

.special {
  transition: var(--main-transition);
  position: relative;
}

.special::before,
.special::after {
  content: '';
  position: absolute;
  width: 50px;
  height: calc(100% + 1px);
  top: -2%;
  transition: var(--main-transition);
}

.special::before {
  right: -1px;
  clip-path: polygon(100% 0%, 79% 44%, 100% 100%);
}

.special::after {
  left: -1px;
  clip-path: polygon(17% 50%, 0 0, 0 100%);
}

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 50%);
  transition: var(--main-transition);
}

@media (min-width: 1300px) {
  .overlay {
    display: none;
  }
}

.overlay.show-overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
}

*::selection {
  background-color: var(--main-color);
  color: white;
}

.section {
  transition: var(--main-transition);
}

.hidden--section {
  transform: translateY(100px);
  opacity: 0;
}

/* end Global Rules */

/* start Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: absolute;
  width: 100%;
  z-index: 9;
  background-color: white;
  box-shadow: 0 0 5px #ddd;
}

header {
  background-color: white;
  position: fixed;
  padding: 5px 30px;
}

@media (max-width: 1300px) {
  header {
    display: none;
  }
}

header .logo {
  width: 9%;
}

@media (max-width: 1300px) {
  header .logo {
    display: none;
  }
}

header .logo img {
  max-width: 100%;
}

header nav {
  width: 66%;
}

@media (max-width: 1300px) {
  header nav {
    display: none;
  }
}

header nav .main-nav {
  display: flex;
  justify-content: flex-end;
  /* to make icon also white */
  color: white;
}

header nav .main-nav .special {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  margin-right: 10px;
  position: relative;
}

header nav .main-nav .special:hover {
  background-color: var(--main-color);
}

header nav .main-nav .special:not(:first-child)::before,
header nav .main-nav .special:not(:first-child)::after {
  content: '';
  position: absolute;
  width: 50px;
  height: calc(100% + 1px);
  top: -2%;
  transition: var(--main-transition);
}

header nav .main-nav .special::before,
header nav .main-nav .special::after {
  background-color: white;
}

header nav .case {
  background-color: var(--main-color);
}

.case::before,
.case::after {
  opacity: 1;
}

header nav .main-nav .special a {
  font-size: 17px;
  font-weight: bold;
  color: white;
}

header nav .main-nav .special:not(.case) a {
  color: var(--back-color);
}

header nav .main-nav .special:hover > a {
  color: white;
}

header nav .main-nav .special a i {
  margin-left: 10px;
}

/* popups links */
header nav .popup {
  position: absolute;
  background-color: white;
  top: 63px;
  min-width: 240px;
  padding: 20px;
  border-radius: 15px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 9;
}

header nav .popup:not(.second) {
  top: 66px;
}

header nav .main-nav .special:not(:last-child):hover .first {
  top: 57px;
  opacity: 1;
  visibility: visible;
}

header nav .popup .popup-nav {
  display: flex;
  flex-direction: column;
}

header nav .popup .popup-nav > li {
  transition: var(--main-transition);
  position: relative;
  cursor: pointer;
}

header nav .popup .popup-nav > li:not(:last-child) {
  padding-bottom: 20px;
}

header nav .popup .popup-nav li:not(.active):hover {
  padding-left: 22px;
}

header nav .popup .popup-nav li .loader {
  left: 0;
  top: 3px;
}

header nav .popup .popup-nav > li:hover .loader {
  opacity: 1;
}

header nav .popup .popup-nav .active {
  padding-left: 22px;
}

header nav .popup .popup-nav .active > a {
  color: var(--main-color);
}

header nav .popup .popup-nav .active > .static {
  animation-play-state: paused;
  opacity: 1;
}

header nav .popup .popup-nav .active:hover > .static {
  animation-play-state: running;
}

header nav .popup .popup-nav a {
  color: var(--back-color);
  transition: var(--main-transition);
}

header nav .popup .popup-nav li:hover > a {
  color: var(--main-color);
}

/* arrow icon */
header nav .popup .popup-nav li i {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 12px;
  color: black;
}

/* second popup */
header nav .second {
  left: 295px;
  top: -10px;
  opacity: 0;
  visibility: hidden;
  min-width: 200px;
  transition: 0.5s;
}

header nav .popup .popup-nav li:last-child:hover .second {
  top: -14px;
  opacity: 1;
  visibility: visible;
}

header nav .second li:hover {
  padding-left: 22px;
}

header nav .second li .load-second {
  opacity: 0;
  visibility: hidden;
}

header nav .second li:hover .load-second {
  opacity: 1;
  visibility: visible;
}

/* search icons */
.search {
  width: 22%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1300px) {
  .first-content {
    display: none;
  }
}

.search .front i {
  margin-left: 10px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--main-color);
}

.search .front i:not(:last-child) {
  padding: 13px;
}

.search i {
  transition: var(--main-transition);
}

/* search icon class hide */
.main-search .fa-magnifying-glass.hide-search_icon {
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
}

.main-search .close-search {
  position: absolute;
  font-size: 18px;
  top: 25px;
  color: white;
  transition: var(--main-transition);
  right: 15%;
  padding: 12px 14px;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.main-search .close-search.show-search__close {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.search .popup-search {
  position: absolute;
  top: 95px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  right: 150px;
  transform: scale(0.7);
  transition: var(--main-transition);
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

.search .popup-search.show-search {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.search .popup-search .hidden-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search .popup-search .hidden-search input {
  height: 44px;
  border-radius: 6px;
  border: 1px solid #ddd;
  width: 244px;
  caret-color: var(--main-color);
}

/* remove (X) icon from input field */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.search .popup-search .hidden-search input:focus {
  outline: none;
}

.search .popup-search .hidden-search i {
  position: absolute;
  color: var(--back-color);
  left: 89%;
  transition: var(--main-transition);
}

.search .popup-search .hidden-search:hover i {
  opacity: 0.75;
}

.search a:last-child {
  padding: 10px 25px;
  background-color: white;
  border-radius: 100vh;
  text-transform: uppercase;
  transition: var(--main-transition);
  color: var(--second-color);
}

header .search a:last-child {
  color: var(--back-color);
  border: 1px solid var(--main-color);
}

.search a:last-child:hover {
  background-color: var(--main-color);
  color: white;
}

/* mobile haeder */
.mobile-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--back-color);
  padding: 5px 30px;
  z-index: 9;
  position: absolute;
}

/* start toggle menu */
.mobile-header .toggle {
  position: relative;
  width: 24px;
  height: 2px;
  cursor: pointer;
  padding: 8px;
  margin-right: 30px;
}

.mobile-header .toggle span {
  width: 100%;
  background-color: white;
  height: 2px;
  position: absolute;
  transition: all var(--main-transition) ease;
  left: 0;
}

.mobile-header .toggle span:first-child {
  top: 0;
}

.mobile-header .toggle span:nth-child(2) {
  top: 6px;
}

.mobile-header .toggle span:last-child {
  top: 12px;
}

.mobile-header .toggle:hover span:nth-child(2) {
  opacity: 0;
}

.mobile-header .toggle:hover span:first-child,
.mobile-header .toggle:hover span:last-child {
  top: 6px;
}

.mobile-header .toggle:hover span:first-child {
  transform: rotate(45deg);
}

.mobile-header .toggle:hover span:last-child {
  transform: rotate(-45deg);
}

/* end toggle menu */

.mobile-header .second-content .back {
  position: relative;
}

.mobile-header .second-content .back i {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.mobile-header
  .second-content
  .back
  .fa-magnifying-glass.hide-search_icon__second {
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.mobile-header .second-content .close-search {
  top: -5px;
  left: 1px;
  padding: 0;
}

.mobile-header .second-content .back .close-search.show-search__close__second {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.mobile-header .second-content .popup-search {
  top: 97px;
}

.second-content .popup-search.show-search {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.mobile-header .logo-moblie img {
  max-width: 50%;
}

@media (min-width: 1300px) {
  .mobile-header {
    display: none;
  }
}

/* slide content */
.slide-content {
  position: fixed;
  background-color: var(--back-color);
  left: 0;
  top: 0;
  height: 100%;
  transition: var(--main-transition);
  transform: translateX(-100%);
  z-index: 13;
}

.slide-content.show-slide {
  transform: translateX(0);
}

@media (min-width: 1300px) {
  .slide-content {
    display: none;
  }
}

.slide-content .slide-content__head {
  padding: 30px 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-content .slide-content__head img {
  max-width: 43%;
}

.slide-content .slide-content__head .close-slide {
  color: white;
  cursor: pointer;
}

.slide-content.close {
  transform: translateX(-100%);
}

.slide-content .slide-content__nav {
  padding: 10px 30px 30px 30px;
}

.slide-content .slide-content__nav li {
  padding: 11px 10px;
  cursor: pointer;
  transition: var(--main-transition);
  position: relative;
}

.slide-content .slide-content__nav li:not(:first-child) .inner-links li {
  padding: 3px 10px;
}

.slide-content .slide-content__nav li .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-content .slide-content__nav li .link a {
  color: white;
  font-weight: bold;
  transition: var(--main-transition);
}

.slide-content .slide-content__nav > li:not(.fixed):hover .link:not(.sec) a {
  color: var(--main-color);
}

.slide-content .slide-content__nav li .link i {
  color: white;
  font-size: 12px;
}

.slide-content__nav > li .special {
  padding: 5px 20px;
  background-color: var(--main-color);
}

.slide-content__nav > li .special::after,
.slide-content__nav > li .special::before {
  background-color: var(--back-color);
}

/* class to hide inner links */
.slide-content .slide-content__nav li.drop-down .inner-links {
  height: 120px;
}

/* class to hide second inner links */
.slide-content .slide-content__nav li.drop-down__second .inner-links {
  height: 140px;
}

/* inner nav links */
.slide-content__nav .inner-links {
  height: 0;
  overflow: hidden;
  transition: var(--main-transition);
}

.slide-content__nav .inner-links .active a {
  color: var(--main-color);
}

.slide-content__nav .inner-links li a,
.slide-content__nav .inner-links li .second-inner li a {
  color: white;
  transition: var(--main-transition);
  font-size: 15px;
  font-weight: bold;
}

.slide-content__nav .inner-links li:hover a,
.slide-content__nav .inner-links li .second-inner li:hover a {
  color: var(--main-color);
}

/* end haeder */

/* Start Heading */
.heading {
  position: relative;
  top: 97px;
  background-image: url('../imgs/home/pagetitle-1.png');
  background-size: cover;
  height: 37vh;
  margin-bottom: 200px;
}

.heading .image {
  max-width: 100%;
}

.heading .image img {
  max-width: 98%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.6s;
}

.heading .text {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  top: 32px;
}

.heading .text h1 {
  font-size: 45px;
  width: 100%;
}

.heading .text a {
  font-size: 19px;
  color: var(--back-color);
  font-weight: 500;
}

.heading .text a span {
  color: var(--main-color);
  cursor: default;
}

/* End Heading */

/* Start Beginings */
.begin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.begin .img-begin {
  max-width: 45%;
}

.begin .begin-text {
  width: 40%;
}

.begin .begin-text h3 {
  margin: 0;
  font-size: 24px;
  color: var(--main-color);
  font-family: 'Delius Unicase';
}

.begin .begin-text h1 {
  font-size: 44px;
  margin: 15px 0;
}

.begin .begin-text > img {
  max-width: 120px;
  user-select: none;
}

.begin .begin-text p {
  line-height: 1.6;
  color: #757575;
}

.begin .begin-text .imgs-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.begin .begin-text .imgs-text img {
  max-width: 100%;
}

/* section-2 */
.section-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../imgs/our-history/history_layer_03.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 60px;
  padding: 65px 0;
}

.section-2 .text {
  color: white;
}
.section-2 .text h1 {
  margin: 0;
  font-size: 40px;
}
.section-2 .text p {
  margin: 20px 0 0;
}

.section-2 a {
  padding: 15px 30px;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  background-color: var(--main-color);
  color: white;
  font-weight: 608;
  text-transform: uppercase;
  transition: var(--main-transition);
}

.section-2 a:hover {
  background-color: transparent;
  color: var(--main-color);
}
/* End Beginings */

/* Start History */
.history {
  background-image: url(../imgs/our-history/section-bg.jpg);
  padding-bottom: 150px;
}

.history .title {
  text-align: center;
  padding: 100px 0 50px;
}

.history .title h3 {
  margin: 0;
  font-size: 24px;
  color: var(--main-color);
  font-family: 'Delius Unicase';
}

.history .title h1 {
  font-size: 44px;
  margin: 15px 0;
}

.history .title img {
  max-width: 120px;
  user-select: none;
}

.history .history-lines .history__line {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  counter-increment: history;
  height: 150px;
}

.history .history-lines .history__line .history-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.history .history-lines .history__line:nth-child(2) .history-content,
.history .history-lines .history__line:nth-child(4) .history-content {
  justify-content: flex-start;
}

.history .history-lines .history__line .year {
  position: relative;
  font-size: 60px;
  font-weight: 500;
  color: #e0e0e0;
  padding: 40px;
  font-family: 'Delius Unicase';
  transition: 0.4s;
}

.history .history__line:nth-child(2) .history-content .year,
.history .history__line:nth-child(4) .history-content .year {
  order: 2;
}

.history .history-lines .history__line .year::before {
  content: '';
  border: 2px solid #bdbdbd;
  border-radius: 0 500px 500px 0;
  position: absolute;
  border-left: 0;
  height: 100%;
  width: 100px;
  right: 0;
  top: 0;
}

.history .history__line:nth-child(2) .history-content .year::before,
.history .history__line:nth-child(4) .history-content .year::before {
  left: 0;
  transform: rotate(180deg);
}

.history .history-lines .history__line:hover .year {
  color: #232323;
}

.history .history__line:nth-child(2) .history-content .time-line,
.history .history__line:nth-child(4) .history-content .time-line {
  left: 31%;
}

.history .history__line .history-content .time-line {
  position: absolute;
  width: 31px;
  border-bottom: 1px dashed #bdbdbd;
  left: 50%;
  top: 50%;
}

.history .history__line:nth-child(2) .history-content .time-line::before,
.history .history__line:nth-child(4) .history-content .time-line::before,
.history .history__line:nth-child(2) .history-content .time-line::after,
.history .history__line:nth-child(4) .history-content .time-line::after {
  left: 29px;
}

.history .history__line .history-content .time-line::before,
.history .history__line .history-content .time-line::after {
  content: '';
  position: absolute;
  padding: 6px;
  border-radius: 50%;
  top: -6px;
  left: -6px;
  transition: 0.4s;
}

.history .history__line .history-content .time-line::before {
  background-color: #616161;
  z-index: 2;
}

.history .history__line .history-content .time-line::after {
  background-color: white;
  z-index: 1;
  transform: scale(1);
}

.history .history__line:hover .history-content .time-line::after {
  transform: scale(2.3);
}

.history .history__line:hover .history-content .time-line::before {
  background-color: var(--main-color);
}

.history .history__line .history-content .history-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  padding-left: 30px;
  flex-wrap: wrap;
  position: relative;
}

.history .history__line:nth-child(2) .history-content .history-details,
.history .history__line:nth-child(4) .history-content .history-details {
  padding: 0;
  width: 34%;
  justify-content: flex-end;
}

.history .history-content .history-details img {
  max-width: 26%;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  padding: 28px;
  margin-right: 38px;
}

.history .history__line:nth-child(2) .history-content .history-details img,
.history .history__line:nth-child(4) .history-content .history-details img {
  order: 2;
  max-width: 32%;
}

.history .history__line:hover .history-content .history-details img {
  border-color: var(--main-color);
}

.history .history__line .history-content .history-details .history-title {
  width: 50%;
}

.history .history__line .history-details .history-title::before {
  content: '0' counter(history);
  font-family: 'Delius Unicase';
  font-size: 30px;
  color: var(--main-color);
  font-weight: bold;
}

.history .history__line .history-content p {
  max-width: 355px;
  color: #616161;
  line-height: 1.6;
  margin: 20px 0 0;
  position: absolute;
  left: 30px;
  bottom: -70px;
}

.history .history__line:nth-child(2) .history-content .history-details p,
.history .history__line:nth-child(4) .history-content .history-details p {
  order: 2;
}
/* End History */

/* Start our Team */
.team {
  margin: 60px 0;
}

.team .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.team .title .title-content {
  margin-bottom: 30px;
}

.team .title h3 {
  margin: 0;
  font-size: 24px;
  color: var(--main-color);
  font-family: 'Delius Unicase';
}

.team .title h1 {
  font-size: 44px;
  margin: 15px 0;
}

.team .title img {
  max-width: 120px;
  user-select: none;
}

.team .title a {
  padding: 15px 30px;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: white;
  transition: var(--main-transition);
}
.team .title a:hover {
  background-color: white;
  color: var(--main-color);
}

.team .team-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px 30px;
  margin-top: 30px;
  text-align: center;
}

.team .team-container .team-person {
  background-color: #f9f9f9;
  padding: 55px 43px;
  border-radius: 10px;
}

.team .team-container .team-person .image img {
  max-width: 100%;
  border-radius: 50%;
}

.team .team-container .team-person .image .social-links {
  padding: 10px 16px;
  background-color: var(--main-color);
  transition: var(--main-transition);
  position: relative;
  top: -22px;
  width: fit-content;
  margin: auto;
}

.team .team-container .team-person .image .social-links::before,
.team .team-container .team-person .image .social-links::after {
  background-color: #f9f9f9;
}
.team .team-container .team-person:hover .image .social-links {
  background-color: var(--back-color);
}

.team .team-container .team-person .image .social-links a i {
  color: white;
  margin: 0 8px;
  transition: var(--main-transition);
}

.team .team-container .team-person .image .social-links a:hover i {
  color: var(--main-color);
}

.team .team-container .team-person .name {
  font-size: 24px;
  font-weight: bold;
  color: var(--back-color);
  line-height: 1.25;
  transition: var(--main-transition);
}
.team .team-container .team-person .name:hover {
  color: var(--main-color);
}

.team .team-container .team-person .team-title {
  font-family: 'Delius Unicase';
  margin-top: 10px;
  font-size: 18px;
  color: #616161;
  font-weight: 500;
}
/* End our Team */

/* start Footer */
footer {
  background-image: url('../imgs/home/footer-bg.jpg');
  background-size: cover;
  padding: 60px 0 20px;
}

footer .footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px 30px;
  color: white;
}

footer .footer-content .box h2 {
  margin: 0 0 20px;
  font-weight: 500;
}

footer .footer-content .one .line {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

footer .footer-content .one .line img {
  max-width: 26px;
  margin-right: 5px;
}

footer .footer-content .one .line a {
  cursor: pointer;
  transition: var(--main-transition);
}

footer .footer-content .one .line:hover a {
  color: #ddd;
}

footer .footer-content .one img:last-child {
  margin-top: 20px;
}

footer .footer-content .two ul li {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

footer .footer-content .two ul li div:first-child {
  margin-right: 10px;
}

footer .footer-content .two ul li div:last-child {
  margin-left: 10px;
  color: var(--main-color);
  order: 2;
}

footer .footer-content .two ul li::after {
  content: '';
  border-bottom: 3px dotted;
  flex: 1;
}

footer .footer-content .three .gallery {
  display: flex;
  flex-wrap: wrap;
}

footer .footer-content .three .gallery img {
  max-width: 115px;
  margin: 5px;
  border-radius: 10px;
}

/* copyRights */
footer .copyright {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #757575;
  margin-top: 30px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  footer .copyright {
    justify-content: center;
    text-align: center;
  }
}

footer .copyright p {
  color: #cccccc;
}

footer .copyright p span {
  color: white;
}

footer .copyright .social-media i {
  font-size: 23px;
  margin-left: 20px;
  transition: var(--main-transition);
  cursor: pointer;
}

footer .copyright .social-media i:hover {
  color: var(--main-color);
}

/* scroll to top */
.scroll-to {
  position: fixed;
  right: 0;
  background-color: var(--main-color);
  bottom: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--main-transition);
  border: 1px solid var(--main-color);
  transform: translateX(100%);
}

.popup {
  transform: translateX(-40%);
}

.scroll-to i {
  position: relative;
  top: 11px;
  font-size: 30px;
  color: white;
}

.scroll-to:hover {
  background-color: white;
}

.scroll-to:hover i {
  color: var(--main-color);
}
/* End footer */

/* media query responsive */
/* heading */
@media (max-width: 480px) {
  .heading {
    top: 81px;
  }
}

/* beginings */
@media (max-width: 992px) {
  .begin .img-history {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .begin .begin-text {
    width: 85%;
  }
}
@media (max-width: 480px) {
  .begin .begin-text .imgs-text img {
    width: 124px;
  }
}

/* section-2 */
@media (max-width: 992px) {
  .section-2 {
    justify-content: flex-start;
  }
  .section-2 .text {
    width: 100%;
    margin: 0 20px 40px;
  }
  .section-2 a {
    margin: 0 20px;
  }
}
/* history */
@media (max-width: 1200px) {
  .history .history__line:nth-child(2) .history-content .time-line,
  .history .history__line:nth-child(4) .history-content .time-line {
    left: 34%;
  }
  .history .history__line:nth-child(2) .history-content .history-details,
  .history .history__line:nth-child(4) .history-content .history-details {
    width: 37%;
  }
}

@media (max-width: 992px) {
  .history .history-lines .history__line {
    height: auto;
    padding-bottom: 10px;
  }
  .history .history-lines .history__line .history-content {
    justify-content: flex-start;
  }
  .history .history-lines .history__line .year {
    padding: 10px;
    writing-mode: vertical-lr;
    font-size: 40px;
  }
  .history .history-lines .history__line .year::before {
    height: 190%;
  }
  .history .history-lines .history__line:nth-child(2) .year::before,
  .history .history-lines .history__line:nth-child(4) .year::before {
    left: -35px;
    transform: rotate(0deg);
  }
  .history .history-lines .history__line .year::before {
    border-right: 2px solid #bdbdbd;
    border-bottom: 0;
    border-top: 0;
    border-radius: 0;
  }
  .history .history-lines .history__line .time-line,
  .history .history-lines .history__line:nth-child(2) .time-line,
  .history .history-lines .history__line:nth-child(4) .time-line {
    left: 7%;
  }
  .history .history-lines .history__line .time-line::before,
  .history .history__line .history-content .time-line::after {
    left: 28px;
  }
  .history .history__line .history-content .history-details {
    width: 100%;
    justify-content: flex-start;
  }
  .history .history__line:nth-child(2) .history-content .history-details,
  .history .history__line:nth-child(4) .history-content .history-details {
    padding-left: 30px;
  }

  .history .history__line:nth-child(2) .history-content .history-details,
  .history .history__line:nth-child(4) .history-content .history-details,
  .history .history__line:nth-child(2) .history-content .history-title,
  .history .history__line:nth-child(4) .history-content .history-title {
    order: 2;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .history .history__line .history-content .history-details p {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .history .history__line .history-content .history-details img,
  .history .history__line:nth-child(2) .history-content .history-details img,
  .history .history__line:nth-child(4) .history-content .history-details img {
    max-width: 21%;
  }
}
@media (max-width: 768px) {
  .history .history-lines .history__line .year::before {
    height: 283%;
  }

  .history .history-lines .history__line .time-line,
  .history .history-lines .history__line:nth-child(2) .time-line,
  .history .history-lines .history__line:nth-child(4) .time-line {
    left: 9%;
  }
}
@media (max-width: 600px) {
  .history .history-lines .history__line .time-line,
  .history .history-lines .history__line:nth-child(2) .time-line,
  .history .history-lines .history__line:nth-child(4) .time-line {
    left: 12%;
  }
  .history .history__line .history-content .history-details img {
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .history .history-lines .history__line .year::before {
    height: 307%;
  }
  .history .history-lines .history__line .time-line,
  .history .history-lines .history__line:nth-child(2) .time-line,
  .history .history-lines .history__line:nth-child(4) .time-line {
    left: 15%;
  }
}
@media (min-width: 1290px) {
  .history .history__line:nth-child(2) .history-content .history-details,
  .history .history__line:nth-child(4) .history-content .history-details {
    width: 37%;
  }
  .history .history__line:nth-child(2) .history-content .time-line,
  .history .history__line:nth-child(4) .history-content .time-line {
    left: 35%;
  }
  .history .history-content .history-details img {
    margin-right: 32px;
    width: 20%;
  }
}
/* animations */
@keyframes loader {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}
